@import '../../../styles/variables';
@import '../../../styles/mixins';

.button {
	@include buttonBase;
	@include buttonOffset;

	&:hover {
		box-shadow: 5px 5px 50px $orange, -5px -5px 50px $orange;
		transform: scale(110%);
		transition: transform 0.25s linear;
	}
}

.active {
	@extend .button;
	@include buttonActive;

	&:hover {
		box-shadow: 5px 5px 50px $green, -5px -5px 50px $green;
	}
}

.withOffset {
	margin-left: $offset-basic;
	margin-right: $offset-basic;
}