@import '../../styles/mixins';
@import '../../styles/variables';

.settings {
	@include greenDark;
	@include borderDefault;
	@include baseOffset;
}

.currencyList {
	@include greenDark;
	@include borderDefault;
	@include baseOffset;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}