//!*************COLORS **********************/
//*common colors
$color-white: #fff;
$color-black: #000;
$color-pr1: #0A0C11;
$color-pr2: #15171E;
$color-pr3: #232731;
$color-pr4: #EDC5A2;
$color-red6: #B72025;
$color-brown: #5E4139;
$color-gray: #696969;
//opacity 0.25
$color-pr4-op25: #EDC5A240;
$color-red6-op25: #B7202540;
//opacity 0.05
$color-white5: #ffffff0d;
$color-white25: #ffffff40;
//gradient
$gradient-section: linear-gradient(180deg, #15171E 7.47%, rgba(21, 23, 30, 0.61) 57.28%, #15171E 91.36%);

//**************MEDIA QUERIES ****************/
$mq-xl: 1920px;
$mq-xl-container: 1440px;
$mq-lg: 1280px; 
$mq-lg-container: 1212px;
$mq-md: 1000px;
$mq-md-container: 948px;
$mq-sm: 768px;
$mq-sm-container: 720px;
$mq-xs: 410px;
$mq-xs-container: 372px;
$mq-xxs: 320px;
$mq-xxs-container: 282px;

//**************FONTS****************/

$Gilroy: 'Gilroy', sans-serif;
$CeraPro: 'Cera Pro', sans-serif;
$ProximaNova: 'Proxima Nova', sans-serif;

//**FONT-SIZE FOR REM CALCULATION */

$html-font-size: 16px; // base for 1000px

//****************FONT-SIZES**********/
$font-size-hero-xs: 26px;
$font-size-subhero-xs: 18px;

$font-size-hero-sm: 48px;
$font-size-hero-lg: 64px;
$font-size-hero-xl: 72px;

// $font-size-subhero: $font-size-hero / 2;

$font-size-title-xs: 24px;
$font-size-subtitle-xs: 14px;

$font-size-title-sm: 36px;
$font-size-title-lg: 48px;
// $font-size-subtitle: $font-size-title / 2;

$font-size-btn: 16px;
$font-size-plain-xs: 13px;
$font-size-plain-sm: 16px;
$font-size-plainhead-xs: 14px;
$font-size-plainhead-sm: 18px;


//**************SIZES****************/
// header
$height-header-xl: 150px;
$height-header-lg: 140px;
$height-header-md: 100px;
$height-header-sm: 80px;
$height-header-xs: 64px;
$height-header-xxs: 60px; 

//main banner section
$height-banner-xl: 981px;
$height-banner-lg: 808px;
$height-banner-md: 646px;
$height-banner-sm: 572px;
$height-banner-xs: 469px;
$height-banner-xxs: 447px; 

$height-testimoinal-xl: 883px;
$height-testimoinal-lg: 827px;
$height-testimoinal-md: 724px;
$height-testimoinal-sm: 733px;
$height-testimoinal-xs: 733px;
$height-testimoinal-xxs: 656px; 

//main contacts 
$height-contacts-md: 615px;
$height-contacts-sm: 775px;
$height-contacts-xxs: 536px; 

//footer
$height-footer-xl: 409px;
$height-footer-lg: 349px;
$height-footer-md: 366px;
$height-footer-sm: 312px;
$height-footer-xs: 252px;
$height-footer-xxs: 252px;

//**************Z-INDEX****************/

$z-index-navigation: 10;
$z-index-notification: 100;
$z-index-modal: 1000;


// @include media-xs {

// }

// @include media-sm {

// }

// @include media-md {

// }

// @include media-lg {

// }

// @include media-xl {

// }