@import './firtstNull';
@import './variables';
@import './mixins';

html,
body {
    margin: 0;
    padding: 0;
    background-color: $dark;
    font-size: $font-size;
    font-family: $font-text;
		scroll-behavior: smooth;

}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
	display: grid;
	z-index: 1;
	height: 100vh;
	overflow: hidden;
	grid-template-columns: 24% 48% 24%;
	grid-template-rows: 10% 76% 10%;
	text-align: center;
	gap: 2%;
	grid-template-areas:
		'logo logo logo'
		'weather pomodoro holidays'
		'currency currency currency';
}

.logo {
	@include flexCenter;
	@include heroFont;
	@include borderDefault;
	@include darkLight;
	grid-area: logo;
}

.weather {
	@include borderDefault;
	@include darkLight;
	grid-area: weather;
	position: relative;
}

.pomodoro {
	@include borderDefault;
	@include darkLight;
	position: relative;
	grid-area: pomodoro;
}

.holidays {
	@include borderDefault;
	@include darkLight;
	grid-area: holidays;
	position: relative;
}

.currency {
	@include borderDefault;
	@include darkLight;
	position: relative;
	grid-area: currency;
}

//********* headers ***********************************//

.header__hero {
	font-family: $font-titles;
	letter-spacing: 0.2em;
	line-height: 1.3em;
	text-transform: uppercase;
	text-align: center;
	color: transparent;
	-webkit-text-stroke: 2px $light;
}