@import './firtstNull';
@import './variables';
@import './mixins';

html,
body {
	margin: 0;
	padding: 0;
	background-color: $dark;
	font-size: $font-size;
	font-family: $font-text;
	scroll-behavior: smooth;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.container {
	@include minOffset;
	min-width: 524px;
	width: 98vw;
	// width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: min(25%, 268px) auto;
	text-align: center;
	gap: 1%;
	grid-template-areas:
		'logo logo '
		'weather pomodoro '
		'holidays holidays '
		'currency currency ';


	@include tablet {
		display: block;
	}
}

.logo {
	@include flexCenter;
	@include heroFont;
	@include borderDefault;
	@include darkLight;
	margin: 0 $offset-basic *2;
	grid-area: logo;
}

.weather {
	@include borderDefault;
	@include baseOffset;
	@include darkLight;
	grid-area: weather;
	position: relative;
}

.pomodoro {
	@include borderDefault;
	@include baseOffset;
	@include darkLight;
	position: relative;
	grid-area: pomodoro;
}

.holidays {
	@include borderDefault;
	@include darkLight;
	@include baseOffset;
	grid-area: holidays;
	z-index: 1;
	display: grid;
	grid-template-columns: max(24px, 250px) auto;
	text-align: center;
	align-items: center;
	gap: 2%;
}

.currency {
	@include borderDefault;
	@include baseOffset;
	@include darkLight;
	position: relative;
	grid-area: currency;
	display: grid;
	grid-template-columns: max(24%, 250px) auto;
	text-align: center;
	align-items: center;
	gap: 2%;
}

//********* headers ***********************************//

.header__hero {
	font-family: $font-titles;
	letter-spacing: 0.2em;
	line-height: 1.3em;
	text-transform: uppercase;
	text-align: center;
	color: transparent;
	-webkit-text-stroke: 2px $light;
}

@include tablet {}