//**********font
$font-size: 16px;

$font-titles: 'Roboto', Arial, sans-serif;
$font-text: 'Montserrat', sans-serif;

//**********offset
$offset-basic: 4px;

//**********border-radius
$border-radius-default: 4px;
$border-radius-section: $border-radius-default * 4;
$size-default-border: 2px;
$size-section-border: 4px;

//**********colors
$orange: #F97F29;
$green: #DFF296;
$dark: #19283F;
$light: #F5F5F5;

$mq-xl: 1000px;
