@import '../../styles/variables.scss';

.wrapper {
	position: relative;
	overflow: hidden;
	margin: $offset-basic * 2;
	padding: $offset-basic *2 $offset-basic * 8;
}

.btn {
	position: absolute;
	top: 10%;
	height: 80%;
	z-index: 5;
	opacity: 0.15;

	&:hover {
		opacity: 1;
	}
}

.btn__prev {
	left: 0;
}

.btn__next {
	right: 0;
}

.list {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.list__item {
	position: relative;
	flex-shrink: 0;
}