@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.wrapper {
	position: relative;
	margin: $offset-basic * 2;
	padding: $offset-basic *2 $offset-basic * 8;
	// @include baseOffset;
	// padding-left: $offset-basic * 8;
	// padding-right: $offset-basic * 8;

	// @include borderDefault;
	// @include darkLight;
	// display: flex;
	// flex-direction: row;
	// align-items: center;
	// justify-content: space-between;
	// padding-right: 1rem;
	// height: 20vw;
}

.btn {
	position: absolute;
	top: -$offset-basic;
	height: 100%;
	z-index: 5;
	opacity: 0.25;

	&:hover {
		opacity: 1;
	}
}

// @include borderDefault;
// @include baseOffset;
// @include orangeDark;
// @include flexCenter;
// height: 100%;
// width: $offset-basic * 8;
// font-weight: 700;
// text-transform: uppercase;
// text-align: center;
// writing-mode: vertical-lr;
// text-orientation: upright;
// cursor: pointer;
// width: 100%;
// top: 50%;
// transform: translateY(-50%);
// transition: opacity 0.3s ease-in-out;

.btn__prev {
	left: 0;
}

.btn__next {
	right: 0;
}

.list {
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
	// width: 100%;

	// left: 48px;
	// right: 48px;
	// flex: 1 0 auto;
	// width: calc(100% - 64px - 48px);
}

.list__item {
	flex-shrink: 0;
	position: relative;
}

//* class below only for test

// .internal {
// 	// flex: 1 0 auto;
// 	display: flex;
// 	// position: absolute;
// 	overflow: hidden;
// 	position: relative;
// }



// .list {
// 	display: flex;
// 	// overflow: hidden;
// 	// overflow-y: hidden;
// 	// overflow-x: auto;
// }



// .external {
// 	@include borderDefault;
// 	@include baseOffset;
// 	@include greenDark;
// 	text-align: center;
// }