@import '../../styles/mixins';
@import '../../styles/variables';

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	display: flex;
	align-items: center;
}


.fixedLabel {
	float: right;
	margin-left: $offset-basic;
	font-weight: bold;
}

// .holidayListWrapper {
	// overflow-y: scroll;
	// z-index: 0;
	// position: relative;
	// padding: 0 1em;
// }

// .settings {
// 	display: block;
// 	padding: 0 1em;
// }

.select__country {
	margin: $offset-basic ;
}

.selection {
	display: block;
	border-radius: $offset-basic * 2;
	background-color: $orange;
	color: $dark;
	margin: $offset-basic ;
	padding: $offset-basic;

	&:hover {
		box-shadow: 2px 2px 10px $light, -2px -2px 10px $light;
	}

}

.buttonArea {
	margin: $offset-basic 0;
	display: flex;
	justify-content: space-evenly;
}

.holidayList {
	// z-index: 1;
	overflow-y: hidden;
	// position: absolute;
	// top: 0;
	// right: 0.5em;
	// left: 0.5em;
	display: flex;
	overflow-x: auto;
}

.main {
	@include borderDefault;
	@include baseOffset;
	@include greenDark;
	text-align: left;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis:  220px;
}

.description {
	display: block;
}