@import '../../styles/mixins';

.main {
	@include borderDefault;
	@include baseOffset;
	@include greenDark;
	text-align: left;
}

.fixedLabel {
	float: right;
	margin-left: $offset-basic;
	font-weight: bold;
}