@import '../../styles/mixins';
@import '../../styles/variables';

.mode {
	@include baseOffset;
	@include flexEvenly;
}

.clock {
	margin: $offset-basic * 4 ;
	padding: $offset-basic * 4 ;
	font-size: 200px;

	font-family: $font-titles;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	color: $light;
	font-weight: 700;
	transition: all 0.25s linear;
	color: transparent;
	-webkit-text-stroke: 5px $light;

	border-radius: 20px;
}

.digit{
	display: inline-block;
	margin: 0 auto;
}

.idle {
	background-color: inherit;
}

.work {
	background-image: radial-gradient(circle at center, $dark 25%, $orange 100%);
}

.pause {
	animation: finished 3s ease-in-out infinite;
	background-color: $orange;
}

.long {
	background-color: $green;
	color: $orange;
}

.short {
	background-color: $green;
	color: $orange;
}

.finish {
	animation: finished 5s ease-in-out infinite;
}

@keyframes finished {
	0% {
		transform: scale(0.9);
		opacity: 0.05;
	}

	50% {
		opacity: 1;
		color: $orange;
		transform: scale(1.1);
	}

	100% {
		opacity: 0.05;
		transform: scale(0.9);
	}
}

.buttons {
	@include baseOffset;
	@include flexEvenly;
	width: 50%;
	margin: 0 auto;
}

.statistic {
	@include flexEvenly;
	@include baseOffset;
}

.settings {
	@include baseOffset;
	background-color: $dark;
	border-radius: $border-radius-section;
	border: $size-default-border solid $light;
	margin: 0 auto;
	width: 50%;
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	box-shadow: 2px 2px 200px $orange, -2px -2px 200px $orange;
}

.settings__title{
	@include baseOffset;
	text-transform: uppercase;
}

.settings__item{
	@include baseOffset;
}


.closeBtn {
	margin: 0;
	padding: 0;
	background-color: $orange;
	font-weight: bolder;
	font-size: 1rem;

	border: $size-default-border solid $light;
	font-weight: bolder;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;

	&:hover {
		box-shadow: 5px 5px 25px $green, -5px -5px 25px $green;
	}
}