@import '../../styles/mixins';
@import '../../styles/variables';

.mode {
	@include baseOffset;
	@include flexEvenly;
}

.clock {
	@include baseOffset;
	font-size: 200px;

	font-family: $font-titles;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	color: $light;
	font-weight: 700;
	// background-color: transparent;
	transition: all 0.5s linear;
	// color: transparent;
	// -webkit-text-stroke: 5px $light;
}

.idle {
	background-color: inherit;
}

.work {
	background-color: blue;
}

.pause {
	background-color: orange;
}

.long {
	background-color: lawngreen;
}

.short {
	background-color: green;
}

.finish {
	animation: finished 2s ease-in-out infinite;
}

@keyframes finished {
	0% {
		transform: scale(1)
	}

	50% {
	background-color: red;
	transform: scale(1.1)
	}

	100% {
		transform: scale(1)
	}
}

.buttons {
	@include maxOffset;
	@include flexEvenly;
	width: 50%;
	margin: 0 auto;
}

.statistic {
	@include flexEvenly;
	@include baseOffset;
}

.settings {
	@include baseOffset;
	background-color: $dark;
	border-radius: $border-radius-section;
	border: $offset-basic solid $dark;
	margin: 0 auto;
	width: 40%;
	// position: relative;
	position: absolute;
	z-index: 10;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	box-shadow: 2px 2px 200px $orange, -2px -2px 200px $orange;
}


.closeBtn {

	background-color: $orange;

	border: $size-section-border solid $orange;
	font-weight: bolder;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	position: absolute;
	top: 0.5em;
	right: 0.5em;

	&:hover {
		box-shadow: 5px 5px 25px $green, -5px -5px 25px $green;
	}
}

.settingsIcon {
	// color: $orange;
	// color: orange;
	// background-color: blue;
}