.main {
	position: absolute;
	height: auto;
	top: 50%;
	right: 10%;
	padding: 1em;
	// bottom: 10%;
	left: 10%;
	transform: translateY(-50%);
	background-color: black;
	color: red;
	font-size: 24px;
	font-weight: bolder;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	opacity: 0.5;
}