@import '../../styles/mixins';
@import '../../styles/variables';

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.inner {
	@include borderDefault;
	@include greenDark;
	margin: $offset-basic *2;
	padding: $offset-basic *2;
	text-align: left;

	@include tablet {

		margin: $offset-basic *2;
		padding: $offset-basic *4;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-evenly;
	}

}

// .fixedLabel {
// 	float: right;
// 	margin-left: $offset-basic;
// 	font-weight: bold;
// }

// .holidayListWrapper {
// 	overflow-y: scroll;
// 	z-index: 0;
// 	position: relative;
// 	padding: 0 1em;
// 	height: 55%;
// }

.settings {
	padding: 0 1em;
}

// .selection {
// 	width: calc(100% - 2em);
// }

.textInput {
	width: 90%;
	margin: 0 auto;
}

// .holidayList {
// 	z-index: 1;
// 	overflow-y: hidden;
// 	position: absolute;
// 	top: 0;
// 	right: 0.5em;
// 	left: 0.5em;
// }

.modal {
	@include borderDefault;
	@include baseOffset;
	background-color: $dark;
	z-index: 10;
	position: absolute;
	top: 0%;
	left: 0%;
	bottom: 0%;
	right: 0%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	cursor: pointer;
}

.location {
	@include borderDefault;
	@include baseOffset;
	@include orangeDark;

	&:focus {
		box-shadow: 5px 5px 25px $green, -5px -5px 25px $green;
		background-color: $green;
	}
}

.icon {
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	flex: 1 0 auto;
}

.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
}

.description {
	padding: $offset-basic;
	display: block;
	text-transform: capitalize;
	font-weight: bold;
}

.parameter {
	margin: calc($offset-basic /2);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.temperature {
	display: block;
	padding: $offset-basic * 2;
	font-size: 1.5rem;
	border-radius: $border-radius-default;
	border: 2px solid $dark;
}

.border {
	padding: 1px;
	border: 2px solid $dark;
	border-radius: $border-radius-default;
}

.cold {
	color: $light;
	background-color: $dark;
}

.warm {
	color: $orange;
	background-color: $green;
}

.hot {
	color: $light;
	background-color: $orange;
}

.wind {
	display: inline-block;
	margin: $offset-basic;
	padding: $offset-basic;
	font-size: 1.5rem;
	font-weight: bolder;
	color: $dark;
}
