@import '../../styles/mixins';
@import '../../styles/variables';


.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.main {
	@include borderDefault;
	@include baseOffset;
	@include greenDark;
	text-align: left;
}

.fixedLabel {
	float: right;
	margin-left: $offset-basic;
	font-weight: bold;
}

.holidayListWrapper {
	overflow-y: scroll;
	z-index: 0;
	position: relative;
	padding: 0 1em;
	height: 55%;

}

.settings {
	padding: 0 1em;
}

.selection {
	width: calc(100% - 2em);
}

.holidayList {
	z-index: 1;
	overflow-y: hidden;
	position: absolute;
	top: 0;
	right: 0.5em;
	left: 0.5em;
}

.wind {
	display: inline-block;
	// transform: rotate(90);
}

.modal {
	@include borderDefault;
	@include baseOffset;
	background-color: $dark;
	// @include orangeDark;
	z-index: 10;
	position: absolute;
	top: 0%;
	left: 0%;
	// bottom: 0%;
	right: 0%;
	@include flexCenter;
  flex-direction: column;
	overflow:scroll;
	cursor: pointer;
}

.location {
	@include borderDefault;
	@include baseOffset;
	@include orangeDark;

	&:focus{
		box-shadow: 5px 5px 50px $green, -5px -5px 50px $green;
		background-color: $green;
	}
}

.icon {
	@include flexCenter;
	height: 100px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
}

.description {
	text-align: center;
}

.textInput{
	width: 90%;
	margin: 0 auto;
}