@import '../../styles/mixins';
@import '../../styles/variables';

.main {
	@include borderDefault;
	@include baseOffset;
	@include greenDark;
	text-align: left;
}

.fixedLabel {
	float: right;
	margin-left: $offset-basic;
	font-weight: bold;
}

.holidayListWrapper {
	overflow-y: scroll;
	z-index: 0;
	position: relative;
	padding: 0 1em;
	height: 55%;

}

.settings {
	padding: 0 1em;
}

.selection {
	width: calc(100% - 2em);
}

.holidayList {
	z-index: 1;
	overflow-y: hidden;
	position: absolute;
	top: 0;
	right: 0.5em;
	left: 0.5em;
}
